h1 {
    color: #AEB6BF;
    font: "Lucida Console";
    margin-left: 20px;
}

p {
    color: #D6DBDF;
    font: "Lucida Console";
    margin-left: 20px;
}

li {
    color: #D6DBDF;
    font: "Lucida Console";
    margin-left: 20px;
}

#bg {
    background-size: 100% auto;
    background-repeat: repeat;
}

a:link {
    color: #D6EAF8;
    font: "Lucida Console";
    margin-left: 10px;
}

a:visited {
    color: #F5EEF8;
    font: "Lucida Console";
    margin-left: 10px;
}

#dark {
    color: black;
    font: "Lucida Console";
    margin-left: 20px;
}

#column1 {
                margin-left: 25px;
                margin-right: 25px;
}

/* Clear floats after the columns */
#row1:after {
                width: 100%;
                align-items: center;/*These two properties center vetically*/
                height: 100vh;/*These two properties center vetically*/
                display: flex;/*This is the attribute that separates into columns*/
                justify-content: center;
                text-align: center;
                position: relative;
}