{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/style.css">
    <h1>{{ query.tournament }}</h1>
    <div class="row">
        <div class="col-md-4">
            <section id="column1">
            <h2>{{ query.team1 }}</h2>
            {% for map in query.team1bans %}
                <s>
                {% if map[1] == 0 %}
                <span style="color: red;">{{ map[0] }}</span>
                {% endif %}
                {% if map[1] == 1 %}
                <span style="color: green;">{{ map[0] }}</span>
                {% endif %}
                {% if map[1] == 2 %}
                <span style="color: blue;">{{ map[0] }}</span>
                {% endif %}
                {% if map[1] == 3 %}
                <span style="color: orange;">{{ map[0] }}</span>
                {% endif %}
                </s><br />
            {% endfor %}
            </section>
        </div>
        <div class="col-md-4">
            <form id="column2">
            <h2>Maps</h2>
            <form class="form-inline" method="POST" action="{{ url_for('team1', page=query.url) }}">
                <fieldset>
                {% for map in query.unbanned %}
                    <input type="radio" name="ban_select" id="{{ map[2] }}" value="{{ map[2] }}"><span style="{{ map[1] }}">{{ map[0] }}</span>
                    <br />
                {% endfor %}
                </fieldset>
                <button type="submit" class="btn btn-default">Ban Map</button>
            </form>
            </section>
        </div>
        <div class="col-md-4">
            <section id="column3">
            <h2>{{ query.team2 }}</h2>
            {% for map in query.team2bans %}
                <s>
                {% if map[1] == 0 %}
                <span style="color: red;">{{ map[0] }}</span>
                {% endif %}
                {% if map[1] == 1 %}
                <span style="color: green;">{{ map[0] }}</span>
                {% endif %}
                {% if map[1] == 2 %}
                <span style="color: blue;">{{ map[0] }}</span>
                {% endif %}
                {% if map[1] == 3 %}
                <span style="color: orange;">{{ map[0] }}</span>
                {% endif %}
                </s><br />
            {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}